# Database Connection URL
DATABASE_URL="postgresql://user:password@localhost:5432/ghurki_cricket?schema=public"

# Backend Server Configuration
PORT=8000
CORS_ORIGIN="http://localhost:3000"

# Frontend Web Configuration
VITE_SERVER_URL="http://localhost:8000"
